@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
	background-color: #53539f;
   


	margin: 0;
	padding: 0;
}

#menu {
	
	background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);


	width: 1000px;
	height: 52px;
	
}


#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	float: left;
}

#menu a{
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 16px 26px;
	font-family: "outfit";
	font-size: 18px;
	color: black;
}

